@define-color bg #1e1e2e;
@define-color fg #cdd6f4;
@define-color red #f38ba8;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color blue #89b4fa;
@define-color module-bg rgba(30, 30, 46, 0.8);
@define-color workspace-fg #6c7086;
@define-color inactive #585b70;
@define-color tooltip-bg #1e1e2e;
